/* Fonts */
$default-font-size: 1.6rem;

/* Variables for Grid System for the project */
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

$color-primary: #c25d2c;

$color-white: #fff;
$color-black: #000;